.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.navigation {
  margin-top: 20px;
  position: relative;
  z-index: 2;
}
.topmenu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  vertical-align: bottom;
  list-style: none;
  text-align: center;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.topmenu__item {
  font-size: 15px;
  line-height: 18px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.topmenu__item:first-child .topmenu__link {
  -webkit-border-radius: 3px 0 0 0;
          border-radius: 3px 0 0 0;
}
.topmenu__item:last-child .topmenu__link {
  -webkit-border-radius: 0 3px 0 0;
          border-radius: 0 3px 0 0;
}
.topmenu__item:hover .topmenu__link {
  background-color: #e58807;
}
.topmenu__item:hover > .submenu,
.topmenu__item:hover > .submenu-linksbox {
  visibility: visible;
  opacity: 1;
}
.topmenu__link {
  color: #fff;
  display: block;
  padding: 18px 5px;
  background-color: #f89c1c;
  white-space: nowrap;
}
.topmenu__link--arrow span:after {
  content: '';
  border: 5px solid transparent;
  border-top: 5px solid #fff;
  margin: 5px 0 0 3px;
  display: inline-block;
  vertical-align: middle;
}
.submenu {
  position: absolute;
  text-align: left;
  left: 0;
  top: 54px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  max-height: 600px;
  list-style: none;
  width: 100%;
  z-index: 5;
  background-color: #e58807;
  border-top: 2px solid #e58807;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.submenu__letter {
  display: block;
  list-style: none;
  margin: 0 20px;
  padding: 0;
  position: static;
}
.submenu__letter-list a {
  font-size: 11px;
  padding-left: 0 !important;
  color: #fff;
  text-decoration: underline;
}
.submenu__letter-list a:hover {
  text-decoration: none;
}
.submenu__letter-head {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #fff;
}
.submenu__item {
  margin-bottom: 15px;
}
.submenu__link {
  color: #fff;
  display: block;
  padding: 18px 5px;
  background-color: #f89c1c;
  white-space: nowrap;
}
.submenu__link:hover {
  background-color: #e58807;
}
.submenu__link--arrow span:after {
  content: '';
  border: 5px solid transparent;
  border-top: 5px solid #fff;
  margin: 5px 0 0 3px;
  display: inline-block;
  vertical-align: middle;
}
.submenu-wallpaper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  left: 0;
  width: 100%;
  padding: 0px;
  max-height: 600px;
  list-style: none;
  z-index: 2;
  background-color: #f89c1c;
  border-top: 2px solid #e58807;
  text-align: center;
  color: #fff;
}
.submenu-wallpaper .submenu__item {
  font-size: 15px;
  line-height: 1.79;
  line-height: 18px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  line-height: 1.2;
  margin: 0;
}
.submenu-wallpaper .submenu__item:hover .submenu__link {
  background-color: #e58807;
}
.submenu-wallpaper .submenu__item:hover > .submenu-linksbox {
  visibility: visible;
  opacity: 1;
}
.submenu-wallpaper .submenu__link:hover + ul {
  display: block;
}
.submenu-wallpaper .submenu-linksbox {
  top: 50px;
}
.submenu-linksbox {
  position: absolute;
  top: 54px;
  display: block;
  text-align: left;
  left: 0;
  padding: 15px 18px 12px;
  max-height: 300px;
  list-style: none;
  z-index: 2;
  background-color: #e58807;
  border: 5px solid #e58807;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.submenu-linksbox__item {
  display: inline-block;
  font-size: 11px;
  padding: 5px;
}
.submenu-linksbox__item a {
  color: #fff;
  text-decoration: underline;
}
.submenu-linksbox__item a:hover {
  text-decoration: none;
}
.new-slider__slide img {
  width: 100%;
}
.new-slider .slick-list {
  -webkit-border-radius: 0 0 3px 3px;
          border-radius: 0 0 3px 3px;
  overflow: hidden;
}
.new-slider .slick-dots {
  bottom: 17px;
  text-align: center;
}
.new-slider .slick-dots li {
  vertical-align: top;
}
.new-slider .slick-dots li button {
  border: 2px solid #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.new-slider .slick-dots li button:before {
  color: transparent;
}
.new-slider .slick-dots li button:hover {
  border-color: #f89c1c;
}
.new-slider .slick-dots li {
  width: 14px;
  height: 14px;
  margin: 0 8px;
  padding: 0;
}
.new-slider .slick-dots li button {
  width: 10px;
  height: 10px;
}
.new-slider .slick-dots li.slick-active button {
  border-color: #f89c1c;
  background-color: #f89c1c;
}
.new-slider .slick-dots li.slick-active button:before {
  font-size: 0px;
  color: #f89c1c;
  opacity: 1;
  width: 10px;
  height: 0px;
  padding: 0px;
}
.new-slider .slick-prev {
  left: 25px;
}
.new-slider .slick-next {
  right: 25px;
}
.new-slider .slick-prev,
.new-slider .slick-next {
  opacity: .9;
  color: #fff;
  z-index: 1;
  width: 40px;
  height: 40px;
}
.new-slider .slick-prev:before,
.new-slider .slick-next:before {
  color: #f89c1c;
  opacity: .9;
  font-size: 40px;
}
.new-slider .slick-prev:hover,
.new-slider .slick-prev:focus,
.new-slider .slick-next:hover,
.new-slider .slick-next:focus {
  opacity: 1;
}
.new-popular {
  margin-top: 40px;
}
.new-popular .new-popular-title {
  position: relative;
  text-align: center;
}
.new-popular .new-popular-title:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  top: 50%;
  left: 0;
  margin-top: 1px;
  background-color: #f89c1c;
}
.new-popular .new-popular-title h2 {
  display: inline-block;
  position: relative;
  background-color: #ffffff;
  z-index: 1;
  padding: 0 15px;
  line-height: 1;
  font-size: 24px;
  margin: 0;
}
.new-popular-list {
  margin-top: 35px;
}
.new-popular-list:after {
  content: '';
  display: table;
  clear: both;
}
.new-popular-list__col {
  width: 20%;
  float: left;
  margin: 0 0 20px;
}
.new-popular-list__title {
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  text-align: center;
  color: #89374b;
  margin: 0 0 10px;
}
.new-popular-list__title span {
  line-height: 15px;
  display: inline-block;
  vertical-align: middle;
}
.new-popular-list__img {
  width: 100%;
  height: 200px;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}
.new-popular-list__img-wr {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.new-popular-list__item {
  display: block;
}
.new-popular-list__item:hover .new-popular-list__img {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.new-brends {
  margin-top: 40px;
}
.new-brends .brends-title {
  position: relative;
  text-align: center;
}
.new-brends .brends-title:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  top: 50%;
  left: 0;
  margin-top: 1px;
  background-color: #f89c1c;
}
.new-brends .brends-title h2 {
  display: inline-block;
  position: relative;
  background-color: #ffffff;
  z-index: 1;
  padding: 0 20px;
  color: #313131;
  font-size: 24px;
  line-height: 1;
  margin: 0;
}
.new-brends .new-brand-slider .slick-list {
  margin: 0 40px;
}
.new-brends .new-brand-slider .brand-slider__slide {
  height: 150px;
  line-height: 150px;
  text-align: center;
  padding: 0 10px;
}
.new-brends .new-brand-slider .brand-slider__slide img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}
.new-brends .new-brand-slider .slick-prev {
  left: 0px;
}
.new-brends .new-brand-slider .slick-next {
  right: 0px;
}
.new-brends .new-brand-slider .slick-prev,
.new-brends .new-brand-slider .slick-next {
  opacity: .9;
  color: #fff;
  z-index: 1;
  width: 40px;
  height: 40px;
}
.new-brends .new-brand-slider .slick-prev:before,
.new-brends .new-brand-slider .slick-next:before {
  color: #f89c1c;
  opacity: .9;
  font-size: 40px;
}
.new-brends .new-brand-slider .slick-prev:hover,
.new-brends .new-brand-slider .slick-prev:focus,
.new-brends .new-brand-slider .slick-next:hover,
.new-brends .new-brand-slider .slick-next:focus {
  opacity: 1;
}
.new-tabs {
  margin-top: 40px;
}
.new-tabs .tab-wrap {
  text-align: center;
}
.new-tabs .tab-wrap .tab-list-wr {
  position: relative;
  width: 100%;
}
.new-tabs .tab-wrap .tab-list-wr:after {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  background-color: #f89c1c;
  position: absolute;
  top: 25%;
  margin-top: -1px;
}
.new-tabs .tab-list {
  list-style: none;
  text-align: center;
  margin-bottom: 30px;
  display: inline-block;
  padding: 0 25px;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.new-tabs .tab-list li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}
.new-tabs .tab-list li:hover a {
  background-color: #e58807 !important;
  color: #fff !important;
}
.new-tabs .tab-list li a {
  color: #fff !important;
  padding: 10px 15px;
  background-color: #f89c1c;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: block;
}
.new-tabs .tab-list li.active a {
  background-color: #e58807 !important;
  color: #fff !important;
}
.new-tabs .tab-list li.active:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border: 10px solid transparent;
  border-top: 10px solid #f89c1c;
}
.new-tabs .tab-list li.active:after {
  border-top: 10px solid #e58807;
}
.new-tabs .box-tab {
  margin: 0 -5px;
}
.new-tabs .box-tab:after {
  content: '';
  clear: both;
  display: table;
}
.new-tabs .box-tab .hide {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: 1;
  opacity: 0;
}
.new-tabs .box-tab .tab-cont {
  opacity: 1;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.new-tabs .box-tab .tab-cont:after {
  content: '';
  display: table;
  clear: both;
}
.new-tabs .box-tab .tab-cont .hide {
  opacity: 0;
}
.new-tabs .box-tab__col {
  float: left;
  width: 25%;
  padding: 10px 5px;
}
.new-tabs .box-tab__item {
  position: relative;
  border: 1px solid #ccc;
}
.new-tabs .box-tab__item:hover .box-tab__info {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.new-tabs .box-tab__img {
  display: block;
  height: 240px;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}
.new-tabs .box-tab__header {
  display: block;
  overflow: hidden;
  height: 55px;
  text-align: center;
  padding: 0 10px;
  word-wrap: break-word;
  line-height: 55px;
  font-size: 14px;
}
.new-tabs .box-tab__header a {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.3;
  color: #000;
}
.new-tabs .box-tab__img-wr {
  position: relative;
}
.new-tabs .box-tab__info {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0;
  visibility: hidden;
  padding: 10px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
  word-wrap: break-word;
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
}
.new-tabs .box-tab__info a {
  font-weight: 700;
  display: block;
  margin-top: 10px;
  text-decoration: underline;
}
.new-tabs .box-tab__footer {
  display: block;
  padding: 10px 10px 7px;
}
.new-tabs .box-tab__footer:after {
  content: '';
  display: table;
  clear: both;
}
.new-tabs .box-tab__footer .price {
  float: left;
}
.new-tabs .box-tab__footer .price span {
  color: #f89c1c;
  font-size: 16px;
}
.new-tabs .box-tab__footer .backet {
  float: right;
  width: 25px;
  height: 25px;
  color: #f89c1c;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
}
.new-tabs .box-tab__footer .backet:hover {
  cursor: pointer;
}
.new-links-box {
  margin: 15px 0px;
  height: 690px;
  overflow: hidden;
}
.new-links-box.open {
  height: auto;
  overflow: visible;
}
.new-links-box:after {
  content: '';
  display: table;
  clear: both;
}
.new-links-box__col {
  float: left;
  width: 25%;
  text-align: center;
  padding: 0 10px 30px;
}
.new-links-box__item {
  display: block;
  position: relative;
  border: 1px solid #ccc;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  padding: 15px 15px 3px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.new-links-box__item:hover {
  background-color: #f89c1c;
  border-color: #f89c1c;
}
.new-links-box__item:hover .new-links-box__text {
  color: #ffffff;
}
.new-links-box__item:hover .new-links-box__img {
  border-color: #f89c1c;
}
.new-links-box__img {
  background-color: #fff;
  width: 100%;
  border: 1px solid #ccc;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  line-height: 140px;
  text-align: center;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.new-links-box__img img {
  vertical-align: middle;
  max-height: 90%;
  max-width: 90%;
}
.new-links-box__text {
  font-size: 14px;
  line-height: 36px;
  height: 36px;
  color: #89374b;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  overflow: hidden;
  margin-top: 2px;
}
.new-links-box__text span {
  display: inline-block;
  vertical-align: middle;
  line-height: 18px;
  word-wrap: break-word;
}
.new-links-box-btn {
  position: relative;
  display: block;
  border: 0;
  text-align: center;
  padding: 15px 20px;
  background-color: #f89c1c;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  width: 260px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
.new-links-box-btn:hover {
  background-color: #e58807;
  cursor: pointer;
}
.new-links-box-btn:hover:after {
  border-top: 10px solid #e58807;
}
.new-links-box-btn.close {
  display: none;
}
.new-links-box-btn:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border: 10px solid transparent;
  border-top: 10px solid #f89c1c;
}
header + .main-content {
  margin-top: 40px;
}
.mob-submenu-btn {
  display: block;
  height: 39px;
  line-height: 39px;
  padding: 0 20px;
  margin: 0;
  border: none;
  display: none;
  text-align: left;
  width: 100%;
  -webkit-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
  background: url(https://www.stroyshopper.ru/bitrix/templates/new/img/icons/xcatalog-btn-arr.png.pagespeed.ic.A4CeduM99Q.png) no-repeat right top, -webkit-gradient(linear, left top, left bottom, from(#a2596b), to(#8d4456));
  background: url(https://www.stroyshopper.ru/bitrix/templates/new/img/icons/xcatalog-btn-arr.png.pagespeed.ic.A4CeduM99Q.png) no-repeat right top, -webkit-linear-gradient(top, #a2596b 0%, #8d4456 100%);
  background: url(https://www.stroyshopper.ru/bitrix/templates/new/img/icons/xcatalog-btn-arr.png.pagespeed.ic.A4CeduM99Q.png) no-repeat right top, -o-linear-gradient(top, #a2596b 0%, #8d4456 100%);
  background: url(https://www.stroyshopper.ru/bitrix/templates/new/img/icons/xcatalog-btn-arr.png.pagespeed.ic.A4CeduM99Q.png) no-repeat right top, linear-gradient(to bottom, #a2596b 0%, #8d4456 100%);
}
.mob-submenu-btn span {
  font: 16px/38px Arial, sans-serif;
  color: #fff;
  display: block;
  padding-left: 28px;
  background: url(https://www.stroyshopper.ru/bitrix/templates/new/img/icons/catalog-btn-burger.png) no-repeat left center;
}
.mob-submenu-btn.active {
  background: url(https://www.stroyshopper.ru/bitrix/templates/new/img/icons/xcatalog-btn-arr.png.pagespeed.ic.A4CeduM99Q.png) no-repeat right bottom, -webkit-gradient(linear, left top, left bottom, from(#8d4456), to(#a2596b));
  background: url(https://www.stroyshopper.ru/bitrix/templates/new/img/icons/xcatalog-btn-arr.png.pagespeed.ic.A4CeduM99Q.png) no-repeat right bottom, -webkit-linear-gradient(top, #8d4456 0%, #a2596b 100%);
  background: url(https://www.stroyshopper.ru/bitrix/templates/new/img/icons/xcatalog-btn-arr.png.pagespeed.ic.A4CeduM99Q.png) no-repeat right bottom, -o-linear-gradient(top, #8d4456 0%, #a2596b 100%);
  background: url(https://www.stroyshopper.ru/bitrix/templates/new/img/icons/xcatalog-btn-arr.png.pagespeed.ic.A4CeduM99Q.png) no-repeat right bottom, linear-gradient(to bottom, #8d4456 0%, #a2596b 100%);
}
@media (max-width: 1023px) {
  .new-popular-list__col {
    width: 25% !important;
  }
  .new-links-box {
    height: 552px;
  }
  .new-links-box__col {
    width: 33.3333%;
    padding: 0 10px 20px;
  }
  .new-links-box__img {
    height: 106px;
    line-height: 106px;
  }
  .topmenu__link {
    padding: 10px 10px 0;
    height: 54px;
    white-space: normal;
  }
  .new-tabs .box-tab__img {
    height: 180px;
  }
}
@media (max-width: 767px) {
  .slick-dots {
    display: none !important;
  }
  .new-popular-list__col {
    width: 50% !important;
  }
  .new-slider .slick-prev {
    left: 10px;
  }
  .new-slider .slick-next {
    right: 10px;
  }
  .topmenu {
    display: none;
    position: absolute;
    left: 0;
    top: 39px;
    padding: 5px 0;
    width: 100%;
    background: #a2596b;
  }
  .topmenu__link {
    background: #a2596b;
    -webkit-border-radius: 0!important;
            border-radius: 0!important;
    height: auto;
    text-align: left;
    padding: 10px 10px 10px 20px;
  }
  .topmenu__link--arrow span:after {
    display: none;
  }
  .new-tabs .box-tab__col {
    width: 33.33333333%;
  }
  header + .main-content {
    margin-top: 0;
  }
  .mob-submenu-btn {
    display: block;
  }
  .navigation {
    margin-top: 0;
  }
  .topmenu__item:hover .topmenu__link {
    background: #a2596b;
  }
  .submenu,
  .submenu-linksbox {
    display: none;
  }
  .mob-submenu-btn.active + .topmenu {
    display: block;
  }
  .new-slider .slick-prev:before,
  .new-slider .slick-next:before {
    color: #a2596b;
  }
}
@media (max-width: 660px) {
  .new-tabs {
    margin-top: 20px;
  }
  .new-tabs .tab-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin-bottom: 15px;
  }
  .new-tabs .tab-list li {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .new-tabs .tab-list li a {
    height: 100%;
  }
}
@media (max-width: 560px) {
  .new-links-box__col {
    width: 50%;
  }
  .new-tabs .box-tab__col {
    width: 50%;
  }
  .new-tabs .box-tab__img {
    height: 180px;
  }
}
@media (max-width: 479px) {
  .new-popular-title h2 {
    font-size: 20px !important;
  }
  .brends-title h2 {
    font-size: 20px !important;
  }
  .new-tabs .tab-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .new-tabs .tab-list li {
    width: 50%;
    border: 1px solid #fff;
    font-size: 12px;
  }
  .new-tabs .tab-list li a {
    padding: 10px 5px;
  }
  .new-tabs .tab-list li.active:after {
    display: none;
  }
}
@media (max-width: 420px) {
  .new-links-box {
    height: 368px;
  }
  .new-links-box__col {
    width: 100%;
    float: none;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
  .new-popular-list__col {
    width: 100% !important;
  }
  .new-tabs .box-tab__col {
    width: 100%;
  }
}
/*new @media*/
@media screen and (min-width: 1300px) {
  .wrap {
    width: 1280px;
    padding: 0 20px;
  }
  .catalog-menu__dropdown {
    width: 1185px;
  }
  .new-tabs .box-tab__col {
    width: 20%;
  }
  .index-catalog__item {
    width: 232px;
  }
  .index-catalog__item:nth-child(3n+3) {
    margin-right: 15px;
  }
  .index-catalog__item:nth-child(4n+4) {
    margin-right: 0;
  }
  .advantages__list-item {
    width: 198px;
  }
  .catalog-table__item {
    width: 228px;
  }
  .catalog-table__item:nth-child(3n+1) {
    clear: none;
  }
  .catalog-table__item:nth-child(3n+3) {
    margin-right: 15px;
  }
  .catalog-table__item:nth-child(4n+1) {
    clear: left;
  }
  .catalog-table__item:nth-child(4n+4) {
    margin-right: 0;
  }
  .item_layout .item_info{
    width: 625px;
  }
  .item_layout .item_right{
    float: right;
  }
  .catalog-list__item-col.image-col{
    width: 180px;
  }
  .catalog-list__item-col.text-col{
    width: auto;
  }
  .tab_container .catalog-table__item:nth-child(4n+1){
    clear: none;
  }
  .tab_container .catalog-table__item:nth-child(5n+1){
    clear: left;
  }
  .column_main.one_col_page .tab_container .catalog .catalog-table__item:nth-child(4n+4){
    margin-right: 20px;
  }
  .column_main.one_col_page .tab_container .catalog .catalog-table__item:nth-child(5n+5){
    margin-right: 0;
  }
   .articles_layout .articles_item:nth-child(4n+1){
    clear: none;
  }
  .articles_layout .articles_item:nth-child(5n+1){
    clear: left;
  }
  .articles_layout .articles_item{
    width: 236px;
  }
}