.clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.navigation {
	margin-top: 20px;
	position: relative;
	z-index: 2;
}

.topmenu {
	display: flex;
	vertical-align: bottom;
	list-style: none;
	text-align: center;
	background-color: #fff;
	position: relative;
	z-index: 1;
	&__item {
		font-size: 15px;
		line-height: 18px;
		flex-grow: 1;
		&:first-child{
			.topmenu__link{
				border-radius: 3px 0 0 0;
			}
		}
		&:last-child{
			.topmenu__link{
				border-radius: 0 3px 0 0;
			}
		}
		&:hover{
			.topmenu__link{
				background-color: #e58807;
			}
			> .submenu,
			> .submenu-linksbox{
				visibility: visible;
				opacity: 1;
			}
		}
	}
	&__link {
		color: #fff;
		display: block;
		padding: 18px 5px;
		background-color: #f89c1c;
		white-space: nowrap;
		&--arrow{
			span {
				&:after {
					content: '';
					border: 5px solid transparent;	
					border-top: 5px solid #fff;
					margin: 5px 0 0 3px;
					display: inline-block;
					vertical-align: middle;
				}
			}
		}
	}
}

.submenu {
	position: absolute;
	text-align: left;
	left: 0;
	top: 54px;
	width: 100%;
	display: flex;
	padding: 15px;
	flex-direction: column;
	flex-wrap: wrap;
	max-height: 600px;
	list-style: none;
	width: 100%;
	z-index: 5;
	background-color: #e58807;
	border-top: 2px solid #e58807;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease;
	&__letter {
		display: block;
			list-style: none;
			margin: 0 20px;
			padding: 0;
			position: static;
	}
	&__letter-list {
			a {
				font-size: 11px;
				padding-left: 0 !important;
				color: #fff;
				text-decoration: underline;
				&:hover{
					text-decoration: none;
				}
			}
	}
	&__letter-head {
		font-size: 14px;
			font-weight: bold;
			text-align: left;
			color: #fff;
	}
	&__item {
		margin-bottom: 15px;
	}
	&__link {
		color: #fff;
		display: block;
		padding: 18px 5px;
		background-color: #f89c1c;
		white-space: nowrap;
		&:hover {
			background-color: #e58807;
		}
		&--arrow{
			span {
				&:after {
					content: '';
					border: 5px solid transparent;	
					border-top: 5px solid #fff;
					margin: 5px 0 0 3px;
					display: inline-block;
					vertical-align: middle;
				}
			}
		}
	}
}

.submenu-wallpaper {
	flex-direction: row;
	position: absolute;
	display: flex;
	text-align: left;
	left: 0;
	width: 100%;
	padding: 0px;
	max-height: 600px;
	list-style: none;
	z-index: 2;
	background-color: #f89c1c;
	border-top: 2px solid #e58807;
	text-align: center;
	color: #fff;
	.submenu__item {
		font-size: 15px;
		line-height: 1.79;
		line-height: 18px;
		flex-grow: 1;
		line-height: 1.2;
		margin: 0;
		&:hover{
			.submenu__link{
				background-color: #e58807;
			}
			> .submenu-linksbox{
				visibility: visible;
				opacity: 1;
			}
		}
	}
	.submenu__link {
		&:hover + ul {
			display: block;
		}
	}
	.submenu-linksbox{
		top: 50px;
	}
}

.submenu-linksbox {
	position: absolute;
	top: 54px;
	display: block;
	text-align: left;
	left: 0;
	padding: 15px 18px 12px;
	max-height: 300px;
	list-style: none;
	z-index: 2;
	background-color: #e58807;
	border: 5px solid #e58807;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease;
	&__item {
		display: inline-block;
		font-size: 11px;
		padding: 5px;
		a {
			color: #fff;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
	}
}

.new-slider {
	&__slide {
		img {
			width: 100%;
		}
	}
	.slick-list {
		border-radius: 0 0 3px 3px;
		overflow: hidden;
	}
	.slick-dots {	
		bottom: 17px;
			text-align: center;
			li {
				vertical-align: top;
				button {
					border: 2px solid #fff;
					border-radius: 50%;
					&:before {
						color: transparent;
					}
					&:hover {
						border-color: #f89c1c;
					}
				}
			}
	}

	.slick-dots li
	{
			width: 14px;
			height: 14px;
			margin: 0 8px;
			padding: 0;
			button {
				width: 10px;
				height: 10px;
			}
	}

	.slick-dots li.slick-active button {
		border-color: #f89c1c;
		background-color: #f89c1c;
		&:before {
				font-size: 0px;
				color: #f89c1c;
				opacity: 1;
				width: 10px;
				height: 0px;
				padding: 0px;
		}
	}

	.slick-prev {
		left: 25px;
	}

	.slick-next {
		right: 25px;
	}

	.slick-prev,
	.slick-next {
		opacity: .9;
		color: #fff;
		z-index: 1;
		width: 40px;
		height: 40px;
	}
	.slick-prev:before,
	.slick-next:before {
		color: #f89c1c;
		opacity: .9;
		font-size: 40px;
	}

	.slick-prev:hover,
	.slick-prev:focus,
	.slick-next:hover,
	.slick-next:focus
	{
			opacity: 1;
	}
}

.new-popular {
	margin-top: 40px;
	.new-popular-title {
		position: relative;
		text-align: center;
		&:before {
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 2px;
			top: 50%;
			left: 0;
			margin-top: 1px;
			background-color: #f89c1c;
		}
		h2{
			display: inline-block;
			position: relative;
			background-color: #ffffff;
			z-index: 1;
			padding: 0 15px;
			line-height: 1;
			font-size: 24px;
			margin: 0;
		}
	}
	&-list {
		margin-top: 35px;
		&:after {
			content: '';
			display: table;
			clear: both;
		}
		&__col {
			width: 20%;
			float: left;
			margin: 0 0 20px;
		}
		&__title {
			height: 30px;
			line-height: 30px;
			overflow: hidden;
			text-align: center;
			color: #89374b;
			margin: 0 0 10px;
			span{
				line-height: 15px;
				display: inline-block;
				vertical-align: middle;
			}
		}
		&__img {
			&-wr{
				width: 100%;
				height: 200px;
				overflow: hidden;
			}
			width: 100%;
			height: 200px;
			background-size: cover;
			background-position: center center;
			transition: all 0.7s;
		}
		&__item {
			display: block;
			&:hover{
				.new-popular-list__img {
					transform: scale(1.2);
				}
			}
		}
	}
}

.new-brends {
	margin-top: 40px;
	.brends-title {
		position: relative;
		text-align: center;
		&:before {
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 2px;
			top: 50%;
			left: 0;
			margin-top: 1px;
			background-color: #f89c1c;
		}
		h2{
			display: inline-block;
			position: relative;
			background-color: #ffffff;
			z-index: 1;
			padding: 0 20px;
			color: #313131;
			font-size: 24px;
			line-height: 1;
			margin: 0;
		}
	}
	.new-brand-slider {
		.slick-list {
			margin: 0 40px;
		}
		.brand-slider__slide {
			height: 150px;
			line-height: 150px;
			text-align: center;
			padding: 0 10px;
			img {
				display: inline-block;
				vertical-align: middle;
				max-width: 100%;
				max-height: 100%;
			}
		}
		.slick-prev {
			left: 0px;
		}

		.slick-next {
			right: 0px;
		}

		.slick-prev,
		.slick-next {
			opacity: .9;
			color: #fff;
			z-index: 1;
			width: 40px;
			height: 40px;
		}
		.slick-prev:before,
		.slick-next:before {
			color: #f89c1c;
			opacity: .9;
			font-size: 40px;
		}

		.slick-prev:hover,
		.slick-prev:focus,
		.slick-next:hover,
		.slick-next:focus
		{
				opacity: 1;
		}
	}
}

.new-tabs {
	margin-top: 40px;
	.tab-wrap {
		text-align: center;
		.tab-list-wr {
			position: relative;
			width: 100%;
			&:after {
				content: '';
				display: block;
				height: 2px;
				width: 100%;
				background-color: #f89c1c;
				position: absolute;
				top: 25%;
				margin-top: -1px; 
			}
		}
	}
	.tab-list {
		list-style: none;
		text-align: center;
		margin-bottom: 30px;
		display: inline-block;
		padding: 0 25px;
		background-color: #fff;
		position: relative;
		z-index: 1;
		li {
			display: inline-block;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 700;
			position: relative;
			&:hover {
				a {
					background-color: #e58807 !important;
					color: #fff !important;
				}
			}
			a {
				color: #fff !important;
				padding: 10px 15px;
				background-color: #f89c1c;
				transition: all 0.3s ease;
				display: block;
			}
			&.active {
				a{
					background-color: #e58807 !important;
					color: #fff !important;
				}
				&:after {
					content: '';
					position: absolute;
					top: 100%;
					left: 50%;
					margin-left: -10px;
					border: 10px solid transparent;	
					border-top: 10px solid #f89c1c;
				}
				&:after {
					border-top: 10px solid #e58807;
				}
			}
		}
	}
	.box-tab {
		margin: 0 -5px;
		&:after {
			content: '';
			clear: both;
			display: table;
		}
		.hide {
			position: absolute;
			top: 0;
			left: 0;
			width: 0;
			height: 0;
			overflow: hidden;
			z-index: 1;
			opacity: 0;
		}
		.tab-cont  {
			.clearfix;
			opacity: 1;
			transition: opacity 0.4s;
			.hide {
				opacity: 0;
			}
		}
		&__col {
			float: left;
			width: 25%;
			padding: 10px 5px;
		}
		&__item {
			position: relative;
			border: 1px solid #ccc;
			&:hover .box-tab__info {
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
			}
		}
		&__img {
			display: block;
			height: 240px;
			background-size: cover;
			background-position: center;
		}
		&__header {
			display: block;
			overflow: hidden;
			height: 55px;
			text-align: center;
			padding: 0 10px;
			word-wrap: break-word;
			line-height: 55px;
			font-size: 14px;
			a {
				display: inline-block;
				vertical-align: middle;
				line-height: 1.3;
				color: #000;
			}
		}
		&__img-wr {
			position: relative;
		}
		&__info {
			position: absolute;
			bottom: 0px;
			left: 0;
			right: 0;
			background-color: rgba(255,255,255,.9);
			opacity: 0;
			visibility: hidden;
			padding: 10px;
			transition: 0.3s;
			text-align: center;
			word-wrap: break-word;
			transform: translateY(10px);
			a {
				font-weight: 700;
				display: block;
				margin-top: 10px;
				text-decoration: underline;
			}

		}
		&__footer {
			display: block;
			padding: 10px 10px 7px;	
			.clearfix;
			.price {
				float: left;
				span {
					color: #f89c1c;
					font-size: 16px;
				}
			}
			.backet {
				float: right;
				width: 25px;
				height: 25px;
				color: #f89c1c;
				background-size: contain;
				background-repeat: no-repeat;
				&:hover {
					cursor: pointer;
				}
			}
		}
	}
}


.new-links-box {
	margin: 15px 0px;
	height: 690px;
	overflow: hidden;
	&.open {
		height: auto;
		overflow: visible;
	}
	.clearfix;
	&__col {
		float: left;
		width: 25%;
		text-align: center;
		padding: 0 10px 30px;
	}
	&__item {
		display: block;
		position: relative;
		border: 1px solid #ccc;
		border-radius: 10px;
		padding: 15px 15px 3px;
		transition: all .3s;
		&:hover {
			background-color: #f89c1c;
			border-color: #f89c1c;
		}
		&:hover .new-links-box__text {
			color: #ffffff;
		}
		&:hover .new-links-box__img {
			border-color: #f89c1c;
		}
	}
	&__img {
		background-color: #fff;
		width: 100%;
		border: 1px solid #ccc;
		border-radius: 10px;
		line-height: 140px;
		text-align: center;
		transition: all .3s;
		img {
			vertical-align: middle;
			max-height: 90%;
			max-width: 90%;
		}
	}
	&__text {
		font-size: 14px;
		line-height: 36px;
		height: 36px;
		color: #89374b;
		transition: all .3s;
		overflow: hidden;
		margin-top: 2px;
		span {
			display: inline-block;
			vertical-align: middle;
			line-height: 18px;
			word-wrap: break-word;
		}
	}
}

.new-links-box-btn {
	position: relative;
	display: block;
	border: 0;
	text-align: center;
	padding: 15px 20px;
	background-color: #f89c1c;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 14px;
	border-radius: 5px;
	width: 260px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	&:hover {
		background-color: #e58807;
		cursor: pointer;
	}
	&:hover:after {
		border-top: 10px solid #e58807; 
	}
	&.close {
		display: none;
	}
	&:after {
		content: '';
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -10px;
		border: 10px solid transparent;
		border-top: 10px solid #f89c1c;
	}
}

header + .main-content{
	margin-top: 40px;
}

.mob-submenu-btn{
	display: block;
	height: 39px;
	line-height: 39px;
	padding: 0 20px;
	margin: 0;
	border: none;
	display: none;
	text-align: left;
	width: 100%;
	border-radius: 4px 4px 0 0;
	background: url(https://www.stroyshopper.ru/bitrix/templates/new/img/icons/xcatalog-btn-arr.png.pagespeed.ic.A4CeduM99Q.png) no-repeat right top, 
	linear-gradient(to bottom,#a2596b 0%,#8d4456 100%);
	span{
		font: 16px/38px Arial,sans-serif;
		color: #fff;
		display: block;
		padding-left: 28px;
		background: url(https://www.stroyshopper.ru/bitrix/templates/new/img/icons/catalog-btn-burger.png) no-repeat left center;
	}
	&.active{
		background: url(https://www.stroyshopper.ru/bitrix/templates/new/img/icons/xcatalog-btn-arr.png.pagespeed.ic.A4CeduM99Q.png) no-repeat right bottom, 
		linear-gradient(to bottom,#8d4456 0%,#a2596b 100%);
	}
}

@media (max-width: 1023px){
	.new-popular-list {
		&__col {
			width: 25% !important;
		}
	}
	.new-links-box {
		height: 552px;
		&__col {
			width: 33.3333%;
			padding: 0 10px 20px;
		}
		&__img {
			height: 106px;
			line-height: 106px;
		}
	}
	.topmenu__link{
		padding: 10px 10px 0;
		height: 54px;
		white-space: normal;
	}
	.new-tabs{
		.box-tab{
			&__img{
				height: 180px;
			}
		}
	}
}

@media (max-width: 767px) {
	.slick-dots {
		display: none !important;
	}
	.new-popular-list {
		&__col {
			width: 50% !important;
		}
	}
	.new-slider .slick-prev{
		left: 10px;
	}
	.new-slider .slick-next{
		right: 10px;
	}
	.topmenu{
		display: none;
		position: absolute;
		left: 0;
		top: 39px;
		padding: 5px 0;
		width: 100%;
		background: #a2596b;
		&__link{
			background: #a2596b;
			border-radius: 0!important;
			height: auto;
			text-align: left;
			padding: 10px 10px 10px 20px;
			&--arrow{
				span{
					&:after{
						display: none;
					}
				}
			}
		}
	}
	.new-tabs{
		.box-tab{
			&__col{
				width: (100%/3);
			}
		}
	}
	header + .main-content{
		margin-top: 0;
	}
	.mob-submenu-btn{
		display: block;
	}
	.navigation{
		margin-top: 0;
	}
	.topmenu__item:hover .topmenu__link{
		background: #a2596b;
	}
	.submenu,
	.submenu-linksbox{
		display: none;
	}
	.mob-submenu-btn{
		&.active{
			& + .topmenu{
				display: block;
			}
		}
	}
	.new-slider .slick-prev:before,
	.new-slider .slick-next:before{
		color: #a2596b;
	}
}

@media (max-width: 660px) {
	.new-tabs{
		margin-top: 20px;
	}
	.new-tabs .tab-list{
		display: flex;
		padding: 0;
		margin-bottom: 15px;
	}
	.new-tabs .tab-list li{
		flex-grow: 1;
	}

	.new-tabs .tab-list li a{
		height: 100%;
	}
}

@media (max-width: 560px) {
	.new-links-box {
		&__col {
			width: 50%;
		}
	}
	.new-tabs{
		.box-tab{
			&__col{
				width: 50%;
			}
			&__img{
				height: 180px;
			}
		}
	}
}

@media (max-width: 479px) {
	.new-popular-title {
		h2 {
			font-size: 20px !important;
		}
	}
	.brends-title {
		h2 {
			font-size: 20px !important;
		}
	}
	.new-tabs .tab-list{
		display: flex;
		flex-wrap: wrap;
	}
	.new-tabs .tab-list li{
		width: 50%;
		border: 1px solid #fff;
		font-size: 12px;
	}
	.new-tabs .tab-list li a{
		padding: 10px 5px;
	}
	.new-tabs .tab-list li.active:after{
		display: none;
	}
}

@media (max-width: 420px) {
	.new-links-box {
		height: 368px;
		&__col {
			width: 100%;
			float: none;
			max-width: 280px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.new-popular-list {
		&__col {
			width: 100% !important;
		}
	}
	.new-tabs{
		.box-tab{
			&__col{
				width: 100%;
			}
		}
	}
}


/*new @media*/


@media screen and (min-width: 1300px) {
	.wrap {
		width: 1280px;
		padding: 0 20px;
	}
	.catalog-menu__dropdown {
		width: 1185px;
	}
	.new-tabs .box-tab__col {
		width: 20%;
	}
	.index-catalog__item {
		width: 232px;
	}
	.index-catalog__item:nth-child(3n+3) {
		margin-right: 15px;
	}
	.index-catalog__item:nth-child(4n+4) {
		margin-right: 0;
	}
	/*https://www.stroyshopper.ru/about/*/
	.advantages__list-item {
		width: 198px;
	}
	/*https://www.stroyshopper.ru/category/sukhie-smesi/*/
	.catalog-table__item {
		width: 228px;
	}
	.catalog-table__item:nth-child(3n+1) {
		clear: none;
	}
	.catalog-table__item:nth-child(3n+3) {
		margin-right: 15px;
	}
	.catalog-table__item:nth-child(4n+1) {
		clear: left;
	}
	.catalog-table__item:nth-child(4n+4) {
		margin-right: 0;
	}
}
